$ipad: 1025px;
$iphone: 500px;
$ipadmedium: 700px;
$iphonemini: 350px;

.app{
    .header {
    width: 100%;
    height: 100px;
    font-family: 'Playfair Display SC', serif;
    .container{
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .logo {
            height: 100px;
            grid-column: 4/6;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5vw;
            opacity: 0;
            position: relative;
            top: 20px;
            font-family: 'Playfair Display SC', serif;
            letter-spacing: 5px;
            @media screen and (max-width: $iphone) {
                font-size: 4vw;
            }
            
        }
        .active-logo{
            text-decoration: none;
            color: black;
        }
        .nav {
            opacity: 0;
            grid-column: 20/24;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 20px;
        }
        .active-shop{
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}
.heroSectionContainer {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-auto-rows: 100px;
    background-image: url(./Components/image/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   @media screen and (max-width: $ipad) {
        background-image: none;
   }
     /* .bannerBgConatiner {
        height: 80vh;
        position: relative;
        @media screen and (max-width: $iphone) {
            height: 60vh;
        }
        @media screen and (max-width: $ipad) {
            grid-row: span 2;
            height: 80vh;
        }
        .bannerBg {
            background: lightblue;
            position: relative;
            width: 1920px;
            top: 0;
            bottom: 0;
            height: 100%;
            @media screen and (max-width: $iphone) {
                height: 60vh;
            }
        }
        .bannerBgAddition {
            background-color: lightblue;
            position: absolute;
            width: 1920px;
            top: 0;
            bottom: 0;
            height: 100%;
            @media screen and (max-width: $iphone) {
                height: 60vh;
            }
        }
        .bannerBgWhite {
            background-color: lightpink;
            position: absolute;
            width: 1920px;
            top: 0;
            bottom: 0;
            height: 100%;
            @media screen and (max-width: $iphone) {
                height: 60vh;
            }

        }
    } 
    } */
    .heroSection {
        z-index: 10;
        grid-column: 1 / 24;
        grid-row: span 9;
        display: grid;
        grid-template-columns: repeat( 23, 1fr);
        grid-template-rows: repeat(23, 1fr);
        font-family: 'Playfair Display SC', serif;
        height: 60vh;
        width: 80vw;

        @media screen and (max-width: $iphone) {
            grid-row: span 3;
        }
        @media screen and (max-width: $ipad) {
            grid-row: span 3;
        }
        .heroText {
            grid-column: 4 / 14;
            grid-row: 4 / -12;
            font-size: 4vw;
            font-weight: 500;
            opacity: 0;
            height: 20vh;
            width: 40vw;
            @media screen and (max-width: $ipad) {
                grid-column: 4 / 14;
                font-weight: 500;
                opacity: 0;
                width: 70vw;
                font-size: 6vw;
            }
            @media screen and (max-width: $iphone){
                grid-column: 1;
                width: 70vw;
            }
            @media screen and (max-width: $ipadmedium){
                grid-column: 2 / 7;
            }
            @media screen and (max-width: $ipadmedium) {
                position: relative;
                left: 45px;
            }
        }
        .heroSubText {
            grid-column: 4 / 12;
            grid-row: 12 / -8;
            font-size: 2vw;
            font-weight: 500;
            opacity: 0;
            height: 20vh;
            width: 30vw;

            @media screen and (max-width: $ipad) {
                grid-column: 4 / 12;
                width: 70vw;
                font-size: 4vw;
            }
            @media screen and (max-width: $iphone){

                grid-column: 4 / 6;
                width: 70vw;
                position: relative;
                left: 5vw;
                bottom: 4rem;
            }
        }

    }
}
.sectionTwoGrid {
    display: grid;
    grid-template-columns: repeat( 23, 1fr);
    grid-auto-rows: 100px;
    .whoWeAre {
        grid-column: 1 / 24;
        grid-row: span 18;
        display: grid;
        grid-template-columns: repeat( 23, 1fr);
        @media screen and (max-width: $iphone) {
            grid-row: span 9;
        }
        
        .ourMessage {
            grid-column: 1 / 24;
            grid-row: 3;
            text-align: center;
            font-size: 2.5vw;
            font-family: "Playfair Display SC",serif;
            @media screen and (max-width: $iphone) {
                font-size: 4vw;
            }

        }
        .standard {
            grid-column: 1 / 24;
            grid-row: 5;
            text-align: center;
            font-size: 2.5vw;
            padding-left: 10%;
            padding-right: 10%;
            font-family: 'Adamina', serif;
            font-weight: 100;
            @media screen and (max-width: $iphone) {
                font-size: 3vw;
            }
        }
        .about {
            grid-column: 1 / 24;
            grid-row: 7;
            text-align: center;
            opacity: 0;
            font-size: 2.5vw;
            font-family: "Playfair Display SC",serif;
            @media screen and (max-width: $iphone) {
                font-size: 3vw;
                position: relative;
                bottom: 3rem;
            }
        }
        .explore {
            grid-column: 1 / 24;
            grid-row: 9;
            text-align: center;
            font-size: 2vw;
            font-family:  'Arapey', serif;
            position: relative;
            bottom: 5rem;
            @media screen and (max-width: $iphone) {
                grid-row: 8
            }
            @media screen and (max-width: $iphone) {
                font-size: 3.5vw;
            }
        }
    }
}
// .sectionThreeGrid {
//     display: grid;
//     grid-template-columns: repeat(23, 1fr);
//     grid-auto-rows: 100px;  
//         .productContainer {
//             grid-column: 1/24;
//             grid-row: span 8;
//             display: grid;
//             grid-template-columns: repeat(23, 1fr);
//             font-family: 'Playfair Display SC', serif;

//             .productOne {
//                 grid-column: 1 / 8;
//                 grid-row: span 14;
//                 background-repeat: no-repeat;
//                 background-size: 500px;
//                 background-position: center;
//                 img {
//                     width: 500px;
//                     position: relative;
//                     top: 150px;
//                     left: 40px;
//                 }
//                 h1 {
//                     opacity: 0;
//                     text-align: center;
//                     position: relative;
//                     top: 10rem;
//                     font-weight: 300;
//                     letter-spacing: 3px;
//                 }
//                 .prices {
//                     font-size: 1.75rem;
//                     position: relative;
//                     top: 2rem;
//                     text-align: center;
//                     opacity: 0;
//                 }
//                 button {
//                     text-align: center;
//                     position: relative;
//                     top: 2.75rem;
//                     border-style: solid;
//                     border-width: 1px;
//                     margin: auto;
//                     width: 400px;
//                     padding: 5px;
//                     opacity: 1;
//                     transition: 0.5s;
//                     left: 5.5rem;
//                 }
//                 p:hover {
//                     opacity: 1;
                    
//                 }
//             }
//             .productTwo {
//                 grid-column: 8 / 16;
//                 grid-row: span 14;
//                 background-repeat: no-repeat;
//                 background-size: 400px;
//                 background-position: center;
//                 img {
//                     width: 400px;
//                     position: relative;
//                     top: 175px;
//                     left: 131px;
//                 }
//                 h1 {
//                     opacity: 0;
//                     text-align: center;
//                     position: relative;
//                     top: 10rem;
//                     font-weight: 300;
//                     letter-spacing: 3px;
//                 }
//                 .prices {
//                     font-size: 1.75rem;
//                     position: relative;
//                     top: 8rem;
//                     text-align: center;
//                     opacity: 0;
//                 }
//                 button {
//                     text-align: center;
//                     position: relative;
//                     top: 9rem;
//                     border-style: solid;
//                     border-width: 1px;
//                     margin: auto;
//                     width: 400px;
//                     padding: 5px;
//                     opacity: 1;
//                     left: 8rem;
//                     transition: 0.5s;
//                 }
//                 p:hover {
//                     opacity: 1;
                    
//                 }
//             }
//             .productThree {
//                 grid-column: 16 / 24;
//                 grid-row: span 14;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 transition: 0.5s;
//                 img {
//                     width: 400px;
//                     position: relative;
//                     top: 175px;
//                     left: 130px;
//                 }
//                 h1 {
//                     opacity: 0;
//                     text-align: center;
//                     position: relative;
//                     top: 10rem;
//                     font-weight: 300;
//                     letter-spacing: 3px;
//                 }
//                 .prices {
//                     font-size: 1.75rem;
//                     position: relative;
//                     top: 8rem;
//                     text-align: center;
//                     opacity: 0;
//                 }
//                 button {
//                     text-align: center;
//                     position: relative;
//                     top: 9rem;
//                     border-style: solid;
//                     border-width: 1px;
//                     margin: auto;
//                     width: 400px;
//                     padding: 5px;
//                     opacity: 0;
//                     transition: 0.5s;
//                     opacity: 1;
//                     left: 8rem;
//                 }
//                 p:hover {
//                     opacity: 1;
                    
//                 }
//              }
//           }
//     }
    .sectionFourGrid {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-auto-rows: 100px;
        position: relative;
        top: 10rem;
        .whyUsContainer {
            grid-column: 1/24;
            grid-row: span 13;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            position: relative;
            top: 10rem;

            .whyUs {
                grid-column: 1 / 24;
                text-align: center;
                font-size: 3vw;
                position: relative;
                font-family: 'Adamina', serif ;
                @media screen and (max-width: $iphone) {
                position: relative;
                bottom: 10rem;
                }
            }
            .whyUsReason {
                grid-column: 1 / 24;
                grid-row: span 8;

                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-template-rows: repeat(23, 1fr);
                font-family: 'Arapey', serif;
                @media screen and (max-width: $iphone) {
                    position: relative;
                    bottom: 10rem;
                    }
                .whyUsOne {
                    grid-column: 8 / 20;
                    opacity: 0;
                    grid-row: span 4;
                    font-size: 1.5vw;
                    position: relative;
                    top: 10rem;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                        grid-column: 7 / 20;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 18px;
                        grid-column: 7 / 20;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        position: relative;
                        top: 5px;
                        right: 10px;
                        @media screen and (max-width: $ipad) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .whyUsTwo {
                    grid-column: 8 / 20;
                    opacity: 0;
                    grid-row: span 6;
                    font-size: 1.5vw;
                    position: relative;
                    top: 10rem;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                        grid-column: 7 / 20;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 18px;
                        grid-column: 7 / 20;
                    }
                    span {
                        @media screen and (max-width: $ipad) {
                            position: relative;
                            right: 20px;
                        }
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        position: relative;
                        top: 5px;
                        right: 10px;
                        @media screen and (max-width: $ipad) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .whyUsThree {
                    grid-column: 8 / 20;
                    opacity: 0;
                    grid-row: span 6;
                    font-size: 1.5vw;
                    position: relative;
                    top: 10rem;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                        grid-column: 7 / 20;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 18px;
                        grid-column: 7 / 20;
                    }
                    span {
                        @media screen and (max-width: $ipad) {
                            position: relative;
                            right: 20px;
                        }
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        position: relative;
                        top: 5px;
                        right: 10px;
                        @media screen and (max-width: $ipad) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .theRavyaWay {
                    grid-column: 14 / 20;
                    font-size: 1.3vw;
                    position: relative;
                    left: 16rem;
                    top: 10rem;
                    border-style: solid;
                    border-width: 1px;
                    width: 50%;
                    text-align: center;
                    border-top: none;
                    opacity: 0;
                    @media screen and (max-width: $ipad) {
                        display: none;
                    }
                    @media screen and (max-width: $iphone) {
                        display: none;
                    }
                }
            }
        }
        .recipeContainer {
            grid-column: 1 / 24;
            grid-row: span 6;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            background-color: white;
            @media screen and (max-width: $ipad) {
                position: relative;
                bottom: 30rem;
                grid-row: span 8;
            }
            .recipe {
                font-size: 3vw;
                grid-column: 4;
                z-index: 100;
                @media screen and (max-width: $iphone) {
                    font-size: 5vw;
                }
            }
            .recipeName {
                grid-column: 1 / 24;
                grid-row: span 30;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-template-rows: repeat(23, 1fr);
                background-color: white;
                @media screen and (max-width: $iphone) {
                    grid-row: span 20;
                }

                .recipeOne {
                    grid-column: 4 / 8;
                    grid-row: 2 / 23;
                    background-image: url(/images/RecipeOne.jpg);
                    @media screen and (max-width: $ipad) {
                        grid-column: 5 / 9;
                    }
                    @media screen and (max-width: $iphone) {
                        grid-column: 5 / 21;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
                .recipeTwo {
                    grid-column: 10 / 14;
                    grid-row: 2 / 23;
                    background-image: url(/images/RecipeTwo.jpg);
                    @media screen and (max-width: $ipad) {
                        grid-column: 10 / 14;
                    }
                    @media screen and (max-width: $iphone) {
                        display: none;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
                .recipeThree {
                    grid-column: 16 / 20;
                    grid-row: 2 / 23;
                    background-image: url(/images/RecipeThree.jpg);
                    background-size: cover;
                    @media screen and (max-width: $ipad) {
                        grid-column: 15 / 19;
                    }
                    @media screen and (max-width: $iphone) {
                        display: none;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
        }
        .footerContainer {
            grid-column: 1/24;
            grid-row: span 8;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            background-color: darkgrey;
            .eMail {
                grid-column: 5 / 10;
                grid-row: 6;
                font-size: 3rem;
                @media screen and (max-width: $ipad) {
                    grid-column: 5 / 17;
                }
                @media screen and (max-width: $iphone) {
                   font-size: 24px;
                }
            }
            .emailSend {
                grid-column: 4 / 10;
                grid-row: 8;
                @media screen and (max-width: $ipad) {
                    grid-column: 5 / 17;
                }
                form {
                    input {
                    width: 500px;
                    height: 40px;
                    font-size: 2rem;
                    border-width: 2px;
                    border-radius: 10px;
                    @media screen and (max-width: $iphone) {
                        font-size: 24px;
                        width: 400px;
                     }
                    }
                }
            }
            .signUp {
                grid-column: 4 / 10;
                grid-row: 10;
                @media screen and (max-width: $ipad) {
                    grid-column: 5 / 17;
                }
                @media screen and (max-width: $iphone) {
                    font-size: 12px;
                 }
            }
            .terms {
                grid-column: 14 / 16;
                grid-row: 15;
                @media screen and (max-width: $ipad) {
                    grid-column: 5 / 8;
                }
                @media screen and (max-width: $iphone) {
                    grid-column: 5 / 10;
                 }
            }
            .partnership {
                grid-column: 16 / 18;
                grid-row: 15;
                @media screen and (max-width: $ipad) {
                    grid-column: 9 / 10;
                }
                @media screen and (max-width: $iphone) {
                    grid-column: 11 / 12;
                 }
            }
            .contact {
                grid-column: 18 / 20;
                grid-row: 15;
                @media screen and (max-width: $ipad) {
                    grid-column: 11 / 12;
                }
                @media screen and (max-width: $iphone) {
                    grid-column: 13 / 20;
                 }
            }
            .facebook {
                grid-column: 14 / 16;
                grid-row: 17;
                @media screen and (max-width: $ipad) {
                    grid-column: 5 / 8;
                }
                img {
                    width: 50px;
                }
            }
            .instagram {
                grid-column: 15 / 17;
                grid-row: 17;
                @media screen and (max-width: $ipad) {
                    grid-column: 9;
                }
                img {
                    width: 50px;
                }
            }
        }
    }
    .productHeroContainer {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-auto-rows: 100px;
        .productHeroInner {
            grid-column: 1/24;
            grid-row: span 9;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            font-family: 'Arapey', serif;
            @media screen and (max-width: $iphone) {
                grid-row: span 4;
            }
            h1{
                grid-column: 1 / 24;
                position: relative;
                text-align: center;
                top: 10rem;
                font-size: 4rem;
                font-weight: 50;
                @media screen and (max-width: $iphone) {
                    font-size: 24px;
                }
            }
        }
    }
    .largeHeroContainer{
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-auto-rows: 100px;
        .largeHeroInner{
            grid-column: 1 / 24;
            grid-row: span 10;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            .heroImage {
                grid-column: 1 / 15;
                grid-row: span 28;
                //background-image: url(./Components/image/productImage.jpg);
               // background-image: url(./Components/image/productImage2.jpg);
               //background-image: url(./Components/image/productImage3.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
               
                @media screen and (max-width: $ipad) {
                    display: none;
                }
                @media screen and (max-width: $iphone) {
                    display: none;
                }
            }
            .productImage {
                grid-column: 15 / 24;
                grid-row: span 20;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-template-rows: repeat(23, 1fr);
                @media screen and (max-width: $ipad) {
                    grid-column: 1 / 24;
                }
                @media screen and (max-width: $iphone) {
                }

                img {
                    grid-column: 2 / 23;
                    grid-row: 4;
                    opacity: 1;
                    @media screen and (max-width: $ipad) {
                    }
                    @media screen and (max-width: $iphone) {
                    }
                }
            }
            .productText {
                grid-column: 2 / 24;
                grid-row: span 25;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-template-rows: repeat(23, 1fr);
                position: relative;
                top: 6rem;

                @media screen and (max-width: $ipad) {
                    text-align: center;
                    grid-column: 1 / 24;
                }
                @media screen and (max-width: $iphone) {
                    grid-column: 1 / 24;
                }
                h1{
                    grid-column: 1 / 24;
                    grid-row: 16 ;
                    font-family: 'Spectral', serif;
                    font-weight: 500;

                    @media screen and (max-width: $ipad) {
                    
                    }
                    @media screen and (max-width: $iphone) {
                        position: relative;
                        bottom: 10rem;
                    }
                }
                h2 {
                    grid-column: 1 / 24;
                    grid-row: 17 ;
                    position: relative;
                    bottom: 2.5rem;
                    font-family: 'Adamina', serif;
                    font-weight: 50;
                    @media screen and (max-width: $iphone) {
                        position: relative;
                        bottom: 12rem;
                    }
                }
                .price {
                    grid-column: 1 / 24;
                    grid-row: 18 ;
                    position: relative;
                    bottom: 2.5rem;
                    font-size: 2.5rem;
                    margin: 0;
                    @media screen and (max-width: $iphone) {
                        position: relative;
                        bottom: 12rem;
                    }

                }
                .delivery {
                    grid-column: 1 / 24;
                    grid-row: 19 ;
                    position: relative;
                    bottom: 2.5rem;

                }
                .addToCart {
                    grid-column: 1 / 24;
                    grid-row: 20 ;
                    text-align: center;
                    position: relative;
                    border-style: solid;
                    border-radius: 50px;
                    border-width: 1px;
                    padding: 10px;
                    bottom: 1rem;
                    font-size: 1.3rem;
                    width: 125px;
                    @media screen and (max-width: $iphone) {
                        position: relative;
                        bottom: 12rem;
                    }

                    cursor: pointer;
                    @media screen and (max-width: $ipad) {
                            grid-column: 12;
                        
                    }
                    @media screen and (max-width: $iphone) {
                        
                    }
                }
            }
        }
        .howToMakeContainer{
            grid-column: 1/24;
            grid-row: span 10;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-template-rows: repeat(23, 1fr);
            font-family: 'Playfair Display SC', serif;

            .howToMakeInner {
                grid-column: 4 / 12;
                grid-row: span 25;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-template-rows: repeat(23, 1fr);
                @media screen and (max-width: $iphone) {
                    grid-column: 1 / 24;
                    padding: 30px;
                    position: relative;
                    bottom: 34rem;
                }
                .stepOneTitle {
                    grid-column: 1 / 24;
                    grid-row: 4;
                    font-size: 3rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Arapey', serif;
                    opacity: 1;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 30px;
                    }
                }
                .stepOneInstruction {
                    grid-column: 1 / 24;
                    grid-row: 5;
                    font-size: 1.25rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Spectral', serif;
                    @media screen and (max-width: $ipad) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 18px;
                    }
                }
                .stepTwoTitle {
                    grid-column: 1 / 24;
                    grid-row: 8;
                    font-size: 3rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Arapey', serif;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 30px;
                    }

                }
                .stepTwoInstruction {
                    grid-column: 1 / 24;
                    grid-row: 9;
                    font-size: 1.25rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Spectral', serif;
                    @media screen and (max-width: $ipad) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 18px;
                    }

                }
                .stepThreeTitle {
                    grid-column: 1 / 24;
                    grid-row: 12;
                    font-size: 3rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Arapey', serif ;
                    @media screen and (max-width: $ipad) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 30px;
                    }
                }
                .stepThreeInstruction {
                    grid-column: 1 / 24;
                    grid-row: 13;
                    font-size: 1.25rem;
                    position: relative;
                    top: 10rem;
                    font-family: 'Spectral', serif;
                    @media screen and (max-width: $ipad) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: $iphone) {
                        text-align: center;
                        font-size: 18px;
                    }

                }
            }
        }
        .brillianCup {
            grid-column: 1 / 24;
            grid-row: span 5;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 5rem;
            font-family: 'Playfair Display SC', serif;
            @media screen and (max-width: $ipad) {
                font-size: 48px;
            }
            @media screen and (max-width: $iphone) {
                font-size: 22px;
                position: relative;
                bottom: 18rem;
            }
        }
    }
    .recipeContainer {
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            grid-auto-rows: 100px;
            font-family: 'Playfair Display SC', serif;
            background-color: lightgrey;
            .heroText {
                grid-column: 1 / 24;
                grid-row: span 5;
                font-size: 8rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: $ipad) {
                    font-size: 48px;
                }
                @media screen and (max-width: $iphone) {
                    font-size: 36px;
                    grid-row: span 5;
                }
            }
            .recipeDescription {
                grid-column: 4 / 20;
                grid-row: span 4;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8vw;
                font-family: 'Arapey', serif;
                position: relative;
                bottom: 6rem;
                line-height: 45px;
                @media screen and (max-width: $ipad) {
                    font-size: 3vw;
                }
                @media screen and (max-width: $iphone) {
                    font-size: 3vw;
                }
            }
            .instructionContainer {
                grid-column: 1 / 24;
                grid-row: span 10;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-auto-rows: 110px;
                font-family: 'Playfair Display SC', serif;
                .whatYouNeed {
                    grid-column: 2 / 10;
                    grid-row: span 8;
                    background-color: white;
                    position: relative;
                    left: 4rem;
                    top: 5rem;
                    z-index: 10;
                    font-size: 4px;
                    @media screen and (max-width: $ipad) {
                        grid-column: 5 / 15;
                }
                    @media screen and (max-width: $iphone) {
                        grid-row: span 4;
                    }
                    p{
                        padding-top: 50px;
                        font-size: 1vw;
                        text-align: center;
                        @media screen and (max-width: $ipad) {
                            font-size: 3vw;
                        }
                        @media screen and (max-width: $iphone) {
                            font-size: 3vw;

                        }
                    }
                    ul {
                        font-size: 1vw;
                        padding-top: 50px;
                        padding-left: 50px;
                        @media screen and (max-width: $iphone) {
                            padding-left: 20px;

                        }
                        @media screen and (max-width: $ipad) {
                            padding-left: 40px;
                        }
                        li {
                            @media screen and (max-width: $ipad) {
                                font-size: 2vw;
                            }
                            @media screen and (max-width: $iphone) {
                            }
                            
                        }
                    }
                }
                .foodImage {
                    grid-column: 10 / 24;
                    grid-row: span 10;
                    @media screen and (max-width: $ipad) {
                        display: none;
                    }
                }
            }
            .howToMakeContainer {
                grid-column: 1 / 24;
                grid-row: span 10;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-auto-rows: 100px;
                font-family: 'Playfair Display SC', serif;
                grid-gap: 20px;
                .howToMake {
                    grid-column: 4 / 20;
                    font-size: 2vw;
                    display: flex;
                    align-items: center;
                    grid-row: span 3;
                    position: relative;
                    top: 7rem;
                }
                .instuctionOne {
                    grid-column: 5 / 20;
                    justify-content: center;
                    font-size: 1.3vw;
                    font-family: 'Spectral', serif;
                    @media screen and (max-width: $ipad) {
                        font-size: 1.7vw;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 2vw;
                    }
                }
            }
            .nextRecipe {
                grid-column: 1 / 24;
                grid-row: span 10;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-auto-rows: 100px;
                background-color: white;
                .readNext {
                    grid-column: 1 / 24;
                    position: relative;
                    top: 8rem;
                    display: flex;
                    justify-content: center;
                    font-size: 3.3vw;
                    z-index: 3;
                    @media screen and (max-width: $ipad) {

                    }
                    @media screen and (max-width: $iphone) {
                        
                    }
                }
                .nameOfRecipe {
                    grid-column: 1 / 24;
                    position: relative;
                    top: 8rem;
                    display: flex;
                    justify-content: center;
                    font-size: 5vw;
                    text-align: center;
                    z-index: 3;
                    @media screen and (max-width: $ipad) {
 
                    }
                    @media screen and (max-width: $iphone) {

                    }
                }
                .nextImage{
                    grid-column: 10 / 15;
                    grid-row: span 7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: $iphone) {
                        grid-column: 5 / 20;
                    }
                }
            }
    }
    
    .productGridContainer {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        .productGridInnerContainer{
            grid-column: 4 / 20;
            display: flex;
            justify-content: space-evenly;
            @media screen and (max-width: $ipad) {
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-column: 1 / 24;
                display: flex;
                flex-direction: column;
            }
            .ravyaProducts {
                text-align: center;
                grid-column: 1 / 24;
                @media screen and (max-width: $ipad) {
                    padding-bottom: 80px;
                    padding-top: 60px;
                }
                @media screen and (max-width: $iphone) {
                    position: relative;
                    bottom: 8rem;
                    
                }
                .images {
                    padding-left: 40px;
                    padding-right: 40px;
                    @media screen and (max-width: $ipad) {

                    }
                    @media screen and (max-width: $iphone) {

                    }
                }
                .ravyaName {
                    font-size: 1.5vw;
                    font-family: 'Spectral', serif;
                    padding-left: 20px;
                    padding-right: 20px;
                    @media screen and (max-width: $ipad) {
                        text-align: center;
                        font-size: 4vw;

                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 4vw;
                    }
                }
                .pricing {
                    font-family: 'Spectral', serif;
                    font-size: 1.5vw;
                    @media screen and (max-width: $ipad) {
                        font-size: 4vw;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 4vw;
                    }
                }
            }
        }
    }
    .cart {
        font-family: 'Spectral', serif;
        font-weight: 500;
        display: grid;
        grid-template-columns: repeat(autofit, 23, 1fr);
        background-color: lightgreen;
        height: 100vh;
        @media screen and (max-width: $ipad) {
            position: relative;
            right: 50px;
        }
        @media screen and (max-width: $iphone) {
            
        }
        ul{
            list-style-type: none;
        }
        .bag{
            position: relative;
            left: 323px;
            top: 120px;
            font-size: 50px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 131px;
                font-size: 24px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 36px;
            }
        }
        .cart-image {
            position: relative;
            left: 323px;
            top: 150px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 131px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 36px;
            }
        }
        .cartName {
            position: relative;
            left: 808px;
            top: 70px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 392px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 145px;
                font-size: 12px;
            }
        }
        .qtySection {
            position: relative;
            left: 1300px;
            top: 40px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 750px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 320px;
            }
        }
        .cart-price {
            position: relative;
            left: 1600px;
            bottom: 10px;
            font-size: 20px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 920px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 420px;
            }
        }
        .subTotal {
            position: relative;
            left: 350px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 180px;
                font-size: 20px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 95px;
                font-size: 16px;
                top: 80px;
            }
            
        }
        .buttonPrimaryMove {
            position: relative;
            left: 350px;
            border: 1px solid black;
            width: 1350px;
            text-align: center;
            padding: 10px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: 180px;
                width: 810px;
            }
            @media screen and (max-width: $iphone) {
                position: relative;
                left: 95px;
                top: 100px;
                width: 375px;
            }
        }
        .dummyCart {
            position: relative;
            left: 310px;
            top: 100px;
            width: 1350px;
            text-align: center;
            font-size: 20px;
            @media screen and (max-width: $ipad) {
                position: relative;
                left: -120px;
                top: 130px;
            }
            @media screen and (max-width: $iphone) {
                
            }
        }
        .buttonRemove{
            cursor: pointer;
        }
        .cart-name {
        .active-name{
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
    }
    .spaceBetween{
        position: relative;
        width: 100%;
        padding: 200px;
        @media screen and (max-width: $ipad) {

        }
        @media screen and (max-width: $iphone) {
            
        }
    }


    .cartContainer {
        font-family: 'Spectral', serif;
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-auto-rows: 100px;
        .innerCartContainer {
            grid-column: 1 / 24;
            grid-row: span 3;
            display: grid;
            grid-template-columns: repeat(23, 1fr);

            .mainTitle {
                grid-column: 1 / 24;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                .myBag {
                    grid-column: 4 / 10;
                    font-size: 2vw;
                    padding: 20px;
                    @media screen and (max-width: $ipad) {
                        font-size: 3vw;
                        
                    }
                    @media screen and (max-width: $iphone) {
                        
                    }
                }
            }
            .empty{
                grid-column: 4 / 20;
                text-align: center;
            }
            .cartIteams {
                grid-column: 1 / 24;
                display: grid;
                grid-template-columns: repeat(23, 1fr);
                grid-auto-rows: 50px;
                padding: 50px;
                position: relative;
                .cartImage {
                    grid-column: 4 / 7;
                    @media screen and (max-width: $ipad) {
                        grid-column: 3 / 5;
                        width: 350%;
                    }
                    @media screen and (max-width: $iphone) {
                        grid-column: 2 / 5;
                        width: 500%;
                      
                    }
                    @media screen and (max-width: $iphonemini) {

                    }
                }
                .cartNames {
                    grid-column: 8 / 12;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1vw;
                    @media screen and (max-width: $ipad) {
                        font-size: 1.5vw;
                        grid-column: 10 / 16;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 2vw;
                        display: none;
                    }
                }
                .qtyOuter {
                    grid-column: 12 / 18;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1vw;
                    @media screen and (max-width: $ipad) {
                        grid-column: 16 / 23;
                        font-size: 1.5vw;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 2vw;
                        grid-column: 15 / 22;
                    }
                    .removeButton {
                        cursor: pointer;
                    }
                    span {
                        @media screen and (max-width: $iphone) {
                            display: none;
                        }
                    }
                }
                .cartPrice {
                    grid-column: 20;
                    font-size: 1vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: $ipad) {
                        grid-column: 24;
                        font-size: 1.5vw;
                     }
                     @media screen and (max-width: $iphone) {
                        font-size: 3vw;
                        grid-column: 24;
                     }

                }
            }
        }
        .formContainer {
            grid-column: 4 / 24;
            @media screen and (max-width: $ipad) {
                grid-column: 2 / 24;
            }
             @media screen and (max-width: $iphone) {
                    grid-column: 2 / 20;
                    width: 100%;

                }
                h1 {
                    font-size: 1vw;
                    font-family:  'Adamina', serif;
                    font-weight: 100;
                    @media screen and (max-width: $ipad) {
                        font-size: 2vw;
                    }
                    @media screen and (max-width: $iphone) {
                        font-size: 3vw;
                    }
                }
            .inputOne{
                width: 40%;
                height: 45px;
                border-top: none;
                border-left: none;
                border-right: none;
                border-width: 1px;
                outline: none;
                margin-right: 60px;
                @media screen and (max-width: $ipad) {
                    width: 40%;
                    margin-right: 30px;
                }
                @media screen and (max-width: $iphone) {
                    width: 40%;
                    margin-right: 10px;
                }
            }
            .addressSubmit{
                position: relative;
                top: 30px;
                width: 80%;
                text-align: center;
                padding: 10px;
                border: 1px solid #D9D9D9;
                cursor: pointer;
                @media screen and (max-width: $iphone) {
                    right: 10px;
                }
            }
            .spaceBetweenForm {
                padding: 6px;
                @media screen and (max-width: $iphone) {
                    padding: 6px;
                }
            }
        }
        .cartAction {
            grid-column: 1 / 24;
            display: grid;
            grid-template-columns: repeat(23, 1fr);
            position: relative;
            top: 30px;
            grid-row: span 4;
            .subTotalMain {
                grid-column: 4 / 24;
                font-size: 2vw;
                padding: 20px;
                @media screen and (max-width: $ipad) {

                }
                @media screen and (max-width: $iphone) {
                    font-size: 4vw;
                }
            }
            .buttonPrimaryMain {
                grid-column: 4 / 20;
                border: 1px solid black;
                text-align: center;
                padding: 10px;
                position: relative;
                bottom: 10px;
                cursor: pointer;
                @media screen and (max-width: $ipad) {

                }
                @media screen and (max-width: $iphone) {
                    
                }
            }
        }
        .cartSpace{
            padding: 40px;
            height: 40px;
        }
    }
}    